<div class="background">
  <div class="gradient">
    <div class="container">
      <h1>{{ 'cr.title' | translate }}</h1>
      <!-- <div class="actions">
        <a [ngClass]="routeAnimationsElements"
           mat-raised-button class="actions-main" color="primary" routerLink="../home">
          {{ 'cr.menu.home' | translate }}
        </a>
        <a mat-raised-button class="actions-main" color="accent" routerLink="../invoices"
           [ngClass]="routeAnimationsElements">
          {{ 'cr.menu.invoices' | translate }}
        </a>
        <a mat-raised-button class="actions-main" color="warn" routerLink="../settings"
           [ngClass]="routeAnimationsElements">
          {{ 'cr.about.change-theme' | translate }}
        </a>
      </div> -->
    </div>
  </div>
</div>
<div class="container">
  <div class="follow-releases" [ngClass]="routeAnimationsElements">
    <!-- <h2>{{ 'cr.about.get-notified' | translate }}</h2> -->
    
  </div>
</div>
<div class="container">
  <div class="contributors" [ngClass]="routeAnimationsElements">
   

    <div class="contributors-wrapper">
    </div>
  </div>
</div>
