<div class="mat-elevation-z8 mat-invoice-table">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search..">
  </mat-form-field>

  <table mat-table [dataSource]="invoiceDataSource" matSort>

    <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column}} </th>
      <td mat-cell *matCellDef="let element">  
        {{column == 'Fare' ? (element[column] | currency:"INR") : element[column]}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

</div>